.gitignore

os/cat/obj
os/cat/my_cat

os/cp/obj
os/cp/my_cp

os/id/obj
os/id/my_id

os/echo/obj
os/echo/print_pids

os/fork/obj
os/fork/exec

os/ls/obj
os/ls/my_ls

os/shell/my_shell
os/shell/obj

os/msgq/obj
os/msgq/stad

os/shmem/shmem
os/shmem/obj

os/monitor/exec_cat
os/monitor/obj

os/signals/trash
os/signals/reg_cat
os/signals/rt_cat

os/megacat/megacat

os/pizza/pizza

os/factory

os/shower/shower
