.gitignore

cat/obj
cat/my_cat

cp/obj
cp/my_cp

id/obj
id/my_id

echo/obj
echo/print_pids

fork/obj
fork/exec

ls/obj
ls/my_ls

shell/my_shell
shell/obj

msgq/obj
msgq/stad

shmem/shmem
shmem/obj

monitor/exec_cat
monitor/obj

signals/trash
signals/reg_cat
signals/rt_cat

megacat/megacat

pizza/pizza
